@media screen  and (max-width:991px){
    .nav-toggle{
        display: block;
        margin-right: 20px;
    }

    .nav-links{
        display: none;
    }

    .examples-area{
        gap: 20px;
    }
    .examples-card-1,.examples-card-2,.examples-card-3,.examples-card-4{
        width: calc(50% - 10px);
        height: 180px;

    }

}